@import "./bootstrap-modal-centering.css";

$DROP_SHADOW: false;
$ANIMATED_CTREE_BG: false;

* {
  box-sizing: border-box;
}

html {
  $background-color: #424242;
  $line-color: #3b3e40;
  $line-height: 40px;

  height: 100%;
  background: repeating-linear-gradient(to bottom, $background-color, $background-color $line-height, $line-color ($line-height+1px), $line-color ($line-height+2px));
}

body {
  $page-margin-color: #403b3b;
  $page-margin: 100px;

  display: flex;
  margin: 0;
  min-height: 100%;
  background: linear-gradient(to right, transparent, transparent $page-margin, $page-margin-color ($page-margin+1px), $page-margin-color ($page-margin+2px), transparent ($page-margin+3px));
}

button, a {
  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    outline: 0 !important;
  }
}

#react-mount {
  width: 100%;
}

.debug-button-toolbar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.main {
  max-width: 1300px;
  height: 100%;
  padding: 30px;
  background: transparent;

  .workspace {
    display: flex;
    flex-direction: column;
    height: 100%;

    .ctree-wrapper {
      height: 0;
      min-height: 200px;
      margin-bottom: 0;
      display: flex;
      flex-direction: column;
      flex-grow: 1;

      .panel-heading {
        padding: 4px;

        .panel-title {
          display: flex;
          justify-content: space-between;
          align-items: center;

          > *:first-child {
            margin-left: 4px;
          }
        }
      }

      .panel-body {
        font-family: Arial, sans-serif;
        padding: 0;
        flex: 1 1;
        display: flex;
        flex-direction: column;

        svg.ctree {
          background: #e1e5ff;

          $workspace-blink-index: 1;

          @mixin workspace-blink($bg-color) {
            $name: "workspace-blink-" + $workspace-blink-index;
            animation: $name 500ms infinite alternate ease-in-out;

            @keyframes #{$name} {
              to {
                background: adjust_color($bg-color, $saturation: -40%, $lightness: 10%, $alpha: 0.3);
              }
            }
            $workspace-blink-index: $workspace-blink-index + 1;
          }

          &.ctree--contains-clash {
            background: #ffc4b3;

            .ctree-node-label-bg {
              fill: rgba(228, 228, 228, 0.8);
            }
          }

          &.ctree--complete-clash-free {
            background: #c0ffa3;
          }

          &.mode-node-create {
            $mode-bg: #caf2b6;
            background: $mode-bg;

            @if $ANIMATED_CTREE_BG {
              @include workspace-blink($mode-bg);
            }

            cursor: crosshair;

            * {
              cursor: not-allowed !important;
            }
          }

          &.mode-edge-create {
            $mode-bg: #ffffba;
            background: $mode-bg;

            @if $ANIMATED_CTREE_BG {
              @include workspace-blink($mode-bg);
            }

            cursor: not-allowed;

            * {
              cursor: not-allowed !important;
            }

            .ctree-node {
              cursor: alias !important;
            }
          }

          text {
            user-select: none;
          }

          .ctree-node {
            cursor: pointer;
            fill: black;

            @if $DROP_SHADOW {
              filter: url(#drop-shadow);
            }

            &.ctree-node-new {
              pointer-events: none;
            }

            &.ctree-node-t-rule-applicable {
              fill: #00618f;
            }
          }

          .ctree-node-name {
            cursor: text;
            text-shadow: 1px 1px 0 #fff, 1px -1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff;
          }

          .ctree-node-label-bg {
            fill: rgba(255, 255, 255, 0.8);
            stroke: black;
            stroke-width: 1px;
          }

          .ctree-node-label-resizer {
            visibility: hidden;
            pointer-events: all;
            cursor: se-resize;
          }

          .ctree-node-label-t-rule-button-group {
            $color: #5cbce6;

            path {
              fill: $color;
              cursor: pointer;

              &.plus-symbol {
                fill: change_color($color, $lightness: 35);
              }
            }

            text.plus-symbol {
              fill: white;
            }

            &:hover {
              path {
                fill: fade_out($color, 0.33);

                &.plus-symbol {
                  fill: change_color($color, $lightness: 45);
                }
              }
            }

            &.disabled {
              $color: #c2c2c2;

              path {
                fill: $color;

                &.plus-symbol {
                  fill: change_color($color, $lightness: 35);
                }
              }

              text.plus-symbol {
                fill: white;
              }

              path {
                cursor: not-allowed;
              }
            }
          }

          .ctree-node-label-concept-group {
            &:not(.concept-clash) {
              @mixin conceptFill($tableauNodeType, $color) {
                &.concept-expandable {
                  &.tableau-node-#{$tableauNodeType} {
                    path {
                      stroke: change_color($color, $lightness: 35);
                      stroke-width: 2px;
                      fill: $color;
                    }
                  }

                  &:hover {
                    &.tableau-node-#{$tableauNodeType} {
                      path {
                        fill: fade_out($color, 0.33);
                        stroke: change_color($color, $lightness: 45);
                        stroke-width: 2px;
                      }
                    }
                  }
                }
              }

              &:not(.concept-expandable) {
                path {
                  fill: #c2c2c2;
                  cursor: not-allowed;
                }
              }

              @include conceptFill(and, #81d9eb);
              @include conceptFill(or, #7fd977);
            }

            &.concept-clash {
              path {
                fill: #ea7f7f;
              }
            }

            path {
              cursor: pointer;
            }

            &.tableau-state-not_allowed, &.tableau-node-none {
              path {
              }
            }
          }

          .ctree-node-group-clash {
            .ctree-node {
              fill: #900000;
            }

            .ctree-node-label-bg {
              stroke: #900000;
            }
          }

          .ctree-node-group-blocked {
            .ctree-node-label-bg {
              fill: rgba(228, 228, 228, 0.8);
            }
          }

          .ctree-edge {
            fill: none;
            stroke: black;
            stroke-width: 2px;
            marker-end: url(#marker-arrowhead-end);

            @if $DROP_SHADOW {
              filter: url(#drop-shadow);
            }

            &.ctree-edge-new {
              pointer-events: none;
              stroke-dasharray: 15, 10;
              stroke-dashoffset: 0;
              animation: dash-animation 500ms infinite linear;

              @keyframes dash-animation {
                from {
                  stroke-dashoffset: 25px;
                }
                to {
                  stroke-dashoffset: 1px;
                }
              }
            }
          }

          .ctree-edge-label {

          }
        }

        .ctree-status-bar {
          padding: 4px 4px 4px 6px;
          background: linear-gradient(to bottom, #e2e2e2 0, #d2d2d2 100%);

          .glyphicon {
            margin-right: 5px;
          }
        }
      }
    }
  }
}

.panel-buttons-toggle-header {

  .panel-heading {
    padding: 4px;

    .nav-buttons-toggle {
      margin-bottom: -5px;

      > li {
        float: left;

        &:not(:last-child) {
          margin-right: 3px;
        }

        > a {
          padding: 0;

          > button {
            box-shadow: 1px -2px 3px 0px rgba(0, 0, 0, 0.075);
            border-bottom: none;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;

            &:hover, &.active:hover {
              background: #f8f8f8;
            }

            &.active {
              background: #ffffff;
            }
          }
        }
      }
    }
  }
}

.panel.panel-default {
  border-color: #808080;

  .panel-heading {
    background: linear-gradient(to bottom, #f0f0f0 0, #d3d3d3 100%);
  }
}

.add-icon {
  font-size: 18px;
  color: #449d44;
  cursor: pointer;
  opacity: 0;
  backface-visibility: hidden;
  transition-duration: 300ms;
  transition-property: all;
}

.dl-denotation {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 200px;
  margin-bottom: 0;

  &:hover {
    .vocabulary-alphabet, .axiom-collection {
      .add-icon {
        opacity: 0.33;
      }

      &:hover {
        .add-icon {
          opacity: 1;
        }
      }
    }
  }

  > .panel-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 0;

    > .tab-content {
      display: flex;
      flex: 1 1 0;

      > .tab-pane {
        flex: 1 1 0;

        > .tab-pane-content {
          height: 100%;
          display: flex;
        }
      }
    }
  }

  .dl-denotation-pane-VOCABULARY {

    .vocabulary-alphabet {
      display: flex;
      flex-direction: column;
      flex: 1 1 0;
      padding-bottom: 8px;
      transition-duration: 500ms;
      transition-property: all;

      .list-wrapper {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 1 1 0;
        width: 100%;

        > .list-group {
          min-height: 0;
          width: 100%;
          overflow-y: auto;
          margin-bottom: 0;

          > .list-group-item:not(.list-group-item-empty) {
            cursor: text;
            padding-right: 25px;
            padding-left: 25px;

            .remove-icon {
              display: none;
              color: #aa0000;
              cursor: pointer;
            }

            &:hover {
              background: #eaeaea;

              .remove-icon {
                display: initial;
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }

        > .add-icon {
          margin-top: 10px;
        }
      }
    }
  }

  .dl-denotation-pane-KNOWLEDGE_BASE {
    .tab-pane-content {
      flex-direction: column;

      .axiom-collection-wrapper {
        flex: 1 1 0;
        overflow: auto;

        .axiom-edit-control-form {
          margin: 5px 0;
        }

        .axiom-collection {

          .add-icon {
            vertical-align: sub;
            margin-left: 3px;
          }

          .axiom-table {
            display: block;
            table-layout: fixed;
            margin-bottom: 10px;

            tbody {
              display: block;

              > tr {
                display: flex;
                cursor: text;

                .remove-icon {
                  display: none;
                  color: #aa0000;
                  cursor: pointer;
                }

                &:hover {
                  .remove-icon {
                    display: initial;
                  }
                }

                &.row-error {
                  background: #ffeeee;

                  &:hover {
                    background: #f0dddd;

                  }
                }

                td {
                  border-top: none;

                  &:not(:last-child) {
                    flex-grow: 1;
                  }
                }
              }
            }
          }
        }

        ul {
          padding: 15px;
          margin: -15px;
          background: #efefef;
          border-left: 1px solid gainsboro;
          border-bottom: 1px solid gainsboro;
        }
      }
    }
  }
}

.list-group-item-empty {
  cursor: not-allowed;
  color: #c5c5c5;
  background: #f5f5f5;
}

.context-menu-wrapper {
  $z: 500;

  .context-menu-cover {
    z-index: $z - 1;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
  }

  .context-menu {
    position: absolute;
    z-index: $z;
  }
}

.latex-ellipsis {
  min-width: 0;

  &.center {
    .base {
      justify-content: center;
    }
  }

  .katex-html {
    display: block;

    > .base {
      display: inline-flex;
      width: 100%;

      > .mord {
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }
  }
}

.latex-list-group-item {
  display: flex;
  justify-content: space-between;

  > :nth-child(2) {
    margin-left: 5px;
  }
}

.flexbox-right {
  display: flex;
  flex-direction: column;
}

.flexbox-down {
  display: flex;
  flex-direction: row;
}

.checkbox-list-item {
  cursor: pointer;

  &:not(.selected):not(:hover) {
    &:active, &:focus {
      background: initial;
    }
  }

  &.selected {
    background: linear-gradient(to bottom, #d2dcff 0%, #b9bfd5 100%);
  }
}

.flex--even {
  display: flex;

  > * {
    flex-grow: 1;
  }
}

.modal-fullscreen {
  .modal-dialog {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    .modal-content {
      height: 100%;
      display: flex;
      flex-direction: column;

      .modal-body {
        flex: 1 1;
        position: relative;
      }
    }
  }
}

.tableau-modal {
  .modal-body {
    display: flex;
    flex-direction: column;

    svg {
      .tableau-node {
        .tableau-node--neutral {
          fill: #303030;

          .tableau-node--leads-to-active {
            fill: #505050;
          }
        }

        .tableau-node--success {
          fill: #0a6600;

          .tableau-node--leads-to-active {
            fill: #108700;
          }
        }

        .tableau-node--failure {
          fill: #660000;

          .tableau-node--leads-to-active {
            fill: #870000;
          }
        }
      }
    }
  }
}

.svg-container-wrapper {
  display: flex;
  flex-direction: column;
}

.svg-container {
  flex: 1 1;
  overflow: auto;
  position: relative;

  .svg-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    svg {
      display: block;
    }
  }
}

.modal-auto-width {
  .modal-dialog {
    width: auto;
  }
}

.dl-keyboard-row {
  top: -15px;
  position: relative;

  .dl-keyboard {
    text-align: center;
    background: #efefef;
    padding: 9px;
    border-bottom: 1px solid rgb(220, 220, 220);

    .dl-keyboard-char {
      margin: 0 2px;
      box-sizing: content-box;
      width: 10px;
    }
  }
}

.katex-wrap {
  > span {
    text-align: center;
    display: block;

    > .katex {

      > .katex-html {
        display: block;

        > .base {
          display: inline;

          > .mord {
            white-space: normal;
            overflow-wrap: break-word;
          }
        }
      }
    }
  }
}

.workspace-choice-panel {
  display: table;
  margin: auto;

  .panel-heading {
    text-align: center;
    font-size: 1.25em;
  }
}

.panel-separator {
  flex: 0 0 auto;
  cursor: ns-resize;
}

.DLCTreeTableauWorkspace {
  &.workspace--problem-initialized {
    .dl-denotation {
      height: 45%;
    }
  }
}

.panel-heading-divider {
  float: left;
  height: 42px;
  display: inline-block;
  margin: -4px 1px -4px 6px;
  border-right: 1px solid #c7c7c7;
}
